<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918001173274-u46re3icr3hdv98v9dd7sn1u7m46db7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918001173274-u46re3icr3hdv98v9dd7sn1u7m46db7a</string>
	<key>API_KEY</key>
	<string>AIzaSyDw-oGJsvkUDxztX5BRBsNYUHlQrBPDLlA</string>
	<key>GCM_SENDER_ID</key>
	<string>918001173274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fabianromaniec.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwaitfr</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwaitfr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918001173274:ios:2349ea6c4065a8af5e62a3</string>
</dict>
</plist>